@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Acelon';
  src: url('/assets/fonts/Acelon.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Cafe';
  src: url('/assets/fonts/Cafe.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* Custom slider track and thumb styles */

/* For WebKit browsers (Chrome, Edge, Safari) */
input[type="range"]::-webkit-slider-thumb {
  appearance: none; /* Override native styling */
  width: 20px; /* Thumb width */
  height: 20px; /* Thumb height */
  background-color: #ffffff00; /* Track color */
  border-radius: 50%; /* Make it circular */
  cursor: pointer; /* Pointer cursor */
}

input[type="range"]::-webkit-slider-runnable-track {
  height: 1.3rem; /* Track height */
  background-color: #ffffff00; /* Track color */
}

/* For Firefox */
input[type="range"]::-moz-range-thumb {
  width: 20px; /* Thumb width */
  height: 20px; /* Thumb height */
  background-color: #ffffff00; /* Track color */
  border-radius: 50%; /* Make it circular */
  cursor: pointer; /* Pointer cursor */
}

input[type="range"]::-moz-range-track {
  height: 1.3rem; /* Track height */
  background-color: #ffffff00; /* Track color */
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Archivo", sans-serif;
  background-color: #192824;
}

p {
  margin: calc(50vh - 40px) auto 0 auto;
  font-size: 65px;
  text-transform: uppercase;
  font-family: "Archivo Black", "Archivo", sans-serif;
  font-weight: normal;
  display: block;
  height: auto;
  text-align: center;
}

@layer components {
  .button-blue{
    @apply
      rounded-lg
      bg-gradient-to-r from-blue-500 via-blue-600 to-blue-700 hover:bg-gradient-to-br 
      focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 
      disabled:bg-gray-500 dark:disabled:bg-gray-700 disabled:cursor-not-allowed
      text-white font-medium text-sm text-center py-2.5 px-5
  }
  .button-simple{
    @apply
      rounded-lg
      bg-purple-700 dark:bg-purple-700
      focus:ring-2 focus:ring-purple-200 dark:focus:ring-purple-900 
      hover:enabled:bg-purple-800 disabled:bg-gray-500 dark:disabled:bg-gray-700
      text-white font-medium text-center text-xs whitespace-nowrap
      inline-flex py-1.5 px-6
  }
  .button-discrete{
    @apply
      rounded
      bg-slate-400 dark:bg-slate-600
      focus:ring-2 focus:ring-slate-200 dark:focus:ring-slate-800 
      dark:hover:enabled:bg-slate-700 hover:enabled:bg-slate-300 disabled:bg-slate-500 dark:disabled:bg-slate-700
      font-medium text-center text-xs whitespace-nowrap
      inline-flex py-0.5 px-1
  }
}

@keyframes pulse-fill {
  0%, 100% {
    fill-opacity: 0.8; /* Or your desired max opacity, e.g., 0.8 */
  }
  50% {
    fill-opacity: 0.5; /* Or your desired min opacity, e.g., 0.4 */
  }
}

/* Optional: Scope it to your chart container */
.pulse-area-true svg path[data-testid="area.True"] {
  animation: pulse-fill 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}
.pulse-area-false svg path[data-testid="area.False"] {
  animation: pulse-fill 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}